/* Set font styles for the entire page */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  color: #ff9900;
  background-color: #000000;
}

/* Style the page heading */
h1 {
  text-align: center;
  font-size: 2.5em;
  margin-top: 8px;
  margin-bottom: 8px;
}

/* Style the card list */
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

/* Style each card item */
 li {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 18px 18px 18px 30px;
  margin-bottom: 10px;
  text-align: left;
  width: 50%;
  /* max-width: 700px; */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  height: 15px;
}

li .lefty{
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* header{
width: 100vw;
height: 100vh;
} */

header ul li {
  display: flex;
  align-items: center;
  flex-direction: row;
}

header ul li img {
  background-size: cover;
  width: 40px;
  max-width: 100%;
  height: 40px;
  margin-right: 10px;
  margin-left: 20px;
}

header ul li span {
  font-size: 14px;
  font-weight: 600;
  color: #4c5262;
  height: 20px;
  flex-grow: 1;
}

header ul li h5{
  text-align: left;
  color: #3654ec;
  display: flex;
  margin-left: auto;
}
/* 
li p {
  margin: 10px 0 0;
}


/* .audio-controls {
  display: flex;
  align-items: center;
}

.audio-cover {
  width: 50px;
  height: 50px;
  background-color: #eee;
  margin-right: 10px;
}

.audio-buttons {
  display: flex;
}

button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}

button:hover {
  color: blue;
}

#audio {
  display: none;
}

.audio-timeline {
  flex-grow: 1;
  margin-left: 10px;
}

#audio::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background-color: blue;
  border-radius: 50%;
}

#audio::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background-color: blue;
  border-radius: 50%;
} */

/* h5{
  text-align: left;
} */

header .master_play {
  width: 100%;
  height: 9%;
  /* border: 1px solid #fff; */
  background: #030430;
  box-shadow: 0px 3px 8px #090f1f;
  margin-top: -20px ;

}


header .master_play {
  display: flex;
  align-items: center;
  padding: 0px 0px;
}

header .master_play .wave {
  width: 30px;
  height: 30px;
  /* border: 1px solid #fff; */
  padding-bottom: 5px;
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
}

header .master_play .wave .wave1 {
  width: 3px;
  height: 10px;
  background: #36e2ec;
  margin-right: 3px;
  border-radius: 10px 10px 0px 0px;
  animation: unset;
}

header .master_play .wave .wave1:nth-child(2) {
  height: 13px;
  margin-right: 3.5px;
  animation-delay: .4s;
}

header .master_play .wave .wave1:nth-child(3) {
  height: 8px;
  animation-delay: .8s;
}

/* javascript classes */


header .master_play .active1 .wave1 {
  animation: wave .5s linear infinite;
}


header .master_play .active1 .wave1:nth-child(2) {
  animation-delay: .4s;
}

header .master_play .active1 .wave1:nth-child(3) {
  animation-delay: .8s;
}

@keyframes wave {
  0% {
      height: 10px;
  }

  50% {
      height: 15px;
  }

  100% {
      height: 10px;
  }

}

header .master_play img {
  width: 35px;
  height: 35px;
}

header .master_play h5 {
  width: 130px;
  /* border: 1px solid #fff; */
  margin-left: 15px;
  color: #fff;
  line-height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
}

header .master_play h5 .subtitle {
  color: #ffd000;
  font-size: 11px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

header .master_play .icon {
  color: #fff;
  font-size: 20px;
  margin: 0px 20px 0px 40px;
  outline: none;
  display: flex;
  align-items: center;
}

header .master_play .icon .bi {
  cursor: pointer;
  outline: none;

}

header .master_play .icon .shuffle {
  font-size: 17px;
  margin-right: 10px;
  width: 17.5px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

header .master_play .icon #download_music {
  font-size: 20px;
  margin-left: 10px;
  text-decoration: none;
  color: #fff;
}

header .master_play .icon .bi:nth-child(3) {
  border: 1px solid rgba(105, 105, 105 0.1);
  border-radius: 50%;
  padding: 1px 5px 0px 7px;
  margin: 0px 5px;
}

header .master_play span {
  width: 32px;
  color: #fff;
  /* border: 1px solid #fff; */
  font-size: 11px;
  font-weight: 400;
}

header .master_play #currentStart {
  margin: 0px 0px 0px 20px;
}

header .master_play .bar {
  position: relative;
  width: 43%;
  height: 2px;
  background: rgb(105, 105, 170, .1);
  margin: 0px 15px 0px 10px;
}

header .master_play .bar .bar2 {
  position: absolute;
  background: #32e2ec;
  width: 0%;
  height: 100%;
  top: 0;
  transition: 1s linear;

}

header .master_play .bar .dot {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #32e2ec;
  border-radius: 50%;
  left: 0%;
  top: -1.5px;
  transition: 1s linear;


}

header .master_play .bar .dot::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #36e2ec;
  border-radius: 50%;
  left: -7px;
  top: -6.5px;
  box-shadow: inset 0px 0px 3px #32e2ec;
}

header .master_play .bar input {
  position: absolute;
  /* width: 500px; */
  width: 100%;
  top: -7px;
  left: 0%;
  cursor: pointer;
  z-index: 999999999999999999999999999999999999999999999;
  opacity: 0;
}

/* header .master_play #currentEnd h4 {               
  left: 350px;
  position: relative;
}
*/
header .master_play .vol {
  position: relative;
  width: 100px;
  height: 2px;
  background: rgb(105, 105, 105, .1);
  margin-left: 50px;
}

header .master_play .vol .bi {
  position: absolute;
  color: #fff;
  font-size: 25px;
  top: -17px;
  left: -30px;

}

header .master_play .vol input {
  position: absolute;
  width: 100%;
  top: -6px;
  left: 0;
  cursor: pointer;
  z-index: 999999999999999999999999999999999999;
  opacity: 0;
}

header .master_play .vol .vol_bar {
  position: absolute;
  background: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  transition: 1s linear;
}

header .master_play .vol .dot {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%;
  left: 100%;
  top: -1.5px;
  transition: 1s linear;
}

header .master_play .vol .dot::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #3654ec;
  border-radius: 50%;
  top: -7px;
  bottom: -6.5px;
  box-shadow: inset 0px 0px 3px #fff;
}